<div class="header">
    <h1>Customer Dashboard</h1>
    
</div>

<main>
    
    <section class="card text-center">
        {{#if car_details.length }}
        <div>
            <h3 class="card-header">Car Details</h3> 
        </div>
          
        <div>
            <div class="card-body">
                {{#each car_details as |details| }}
                <div>
                    <h4 class="card-title">
                        {{ vehicle.make }} {{ vehicle.model }} 
                    </h4>
                    <ul class="card-text">
                        <li>{{ vehicle.year }}</li>
                        <li>{{ vehicle.kilometres }}</li>
                        <li>{{ vehicle.rego }}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        {{/if}}
        </div>
        
        <div>
            <a href="/addCarDetails" class="btn btn-dark">Add Car Details</a>
        </div>
    </section>
    

    <section class="card text-center">
        {{#if job.length }}
        <h3 class="card-header">Service Notes</h3>
            {{#each job as |job| }}
        <div class="card-body">
            <h4>{{ job.date }}</h4>
            <p>
                {{ job.note }}
            </p>
            {{/each}}
        </div>   
        {{/if}}
    </section>
</main>
