<div class="header">
    <h1>{{first_name}} {{last_name}}'s Dash</h1>
    
</div>

<main>
    
    <section class="card text-center">
        {{#if vehicles.length }}
        <div>
            <h3 class="card-header">Car Details</h3> 
        </div>
          
        <div>
            <div class="card-body">
                {{#each vehicles as |vehicle| }}
                <div>
                    <h4 class="card-title">
                        {{ vehicle.make }} {{ vehicle.model }} 
                    </h4>
                    <ul class="card-text">
                        <li>Odometer: {{format_amount vehicle.kilometers }} KM</li>
                        <li>Rego Plate: {{ vehicle.rego }}</li>
                    </ul>
                </div>
                {{/each}}
            </div>
        {{/if}}
        </div>
        
        <div>
            <a href="/addCarDetails" class="btn btn-dark">Add Car Details</a>
        </div>
    </section>
    

    <section>
        {{#if job.length }}
        <h3>Service Notes</h3>
        {{#each job as |job| }}
        <p>
            {{ job.note }}
        </p>
        {{/each}}
        {{/if}}
    </section>
</main>
