<div class="client-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Client 
    </h2>
  </div>

    {{#each clients as |client|}}
  <div class="client col-md-4">
    <p>
      {{client.id}}.
      {{client.client_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Description:
      {{client.description}}
    </p>
  </div>
  {{/each}}

  <div>
    <h2>
      Client Details
    </h2>

      <label for="client_name">
        Client Name- can this change with search function?
      </label>
      <br />
      <textarea id="client_name" name="client_name" rows="2" cols="30">
      {{client_name}}
      </textarea>
      <br/>

      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
     </textarea>
      <br/>

      <label for="address">
        Address:
      </label>
      <br />
      <textarea id="address" name="address" rows="2" cols="30">
      {{address}}
      </textarea>
      <br/>
      <br/>

      <label for="phone">
        Phone:
      </label>
      <br />
      <textarea id="phone" name="phone" rows="2" cols="30">
      {{phone}}
      </textarea>
      <br />

      <label for="dob">
        DOB:
      </label>
      <br />
      <input type="text" id="dob" name="dob" rows="2" cols="30">
      {{dob}}
      </input>
      <br />

      <label for="rego">
        Rego:
      </label>
      <br />
      <textarea id="rego" name="rego" rows="2" cols="30">
      {{rego}}
      </textarea>
      <br />

      <label for="dob">
        Car Make:
      </label>
      <br />
      <textarea id="make" name="make" rows="2" cols="30">
      {{make}}
      </textarea>
      <br />

      <label for="model">
        Car Model:
      </label>
      <br />
      <textarea id="model" name="model" rows="2" cols="30">
      {{model}}
      </textarea>
      <br />

      <label for="service">
        Service Done:
      </label>
      <br />
      <textarea id="service" name="service" rows="2" cols="30">
      {{service}}
      </textarea>
      <br />

      <label for="Notes">
        Notes:
      </label>
      <br />
      <textarea id="notes" name="notes" rows="2" cols="30">
      {{notes}}
      </textarea>
      <br />
  </div>
</div>

