<div class="client-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Client 
    </h2>
  </div>

    {{#each clients as |client|}}
  <div class="client col-md-4">
    <p>
      {{client.id}}.
      {{client.client_name}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Description:
      {{client.description}}
    </p>
  </div>
  {{/each}}

  <div>
    <h2>
      Client Details
    </h2>

      <label for="client_name">
        Client Name- can this change with search function?
      </label>
      <br />
      <textarea id="client_name" name="client_name" rows="2" cols="30">
      {{client_name}}
    </textarea>
      <br/>

      <label for="description">
        Description:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br/>

      <label for="address">
        Address:
      </label>
      <br />
      <textarea id="address" name="address" rows="2" cols="30">
      {{address}}
    </textarea>
      <br/>
      <br/>

      <label for="phone">
        Phone:
      </label>
      <br />
      <textarea id="phone" name="phone" rows="2" cols="30">
      {{phone}}
    </textarea>
      <br />

      <label for="dob">
        DOB:
      </label>
      <br />
      <input type="text" id="dob" name="dob" rows="2" cols="30">
      {{dob}}
    </input>
      <br />

  </div>
</div>

