<div class="job-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      {{first_name}}'s Dash 
    </h2>
  </div>

<div class = "row">
  <div class= "col-md-5">

    <h2>Today's Schedule</h2>

    <div>
      <label for="todo">
        To Do 
      </label>
      <br />
      <textarea id="todo" name="todo" rows="5" cols="50">
      {{todo}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div> 
    </div>
      
    <div>
      <label for="incoming">
        Incoming Cars:
      </label>
      <br />
      <textarea id="incoming" name="incoming" rows="5" cols="50">
      {{incoming}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div>
    </div>
      
    <div>
      <label for="completed">
        Completed Cars:
      </label>
      <br />
      <textarea id="completed" name="completed" rows="5" cols="50">
      {{completed}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div>
      <br/>
    </div>
      

  </div>


  <div class= "col-md-5">

   <h2> Job Details </h2>
      Vehicle Rego: {{rego}} <br />
      Vehicle Type: {{make}} {{model}} <br />
      Date: {{date}} <br />
      KMs Travelled: {{k_travelled}} <br />
      Service Required: {{name}} <br />
      Service Price: {{price}} <br />
      Service Notes: {{note}}


  </div>
  </div>
