<div class="job-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      {{first_name}}'s Dash 
    </h2>
  </div>


<main>

  <div>
    <h2>Today's Schedule</h2>

    <div>
      <label for="todo">
        To Do 
      </label>
      <br />
      <textarea id="todo" name="todo" rows="2" cols="30">
      {{todo}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div> 
    </div>
      
    <div>
      <label for="incoming">
        Incoming Cars:
      </label>
      <br />
      <textarea id="incoming" name="incoming" rows="5" cols="30">
      {{incoming}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div>
    </div>
      
    <div>
      <label for="completed">
        Completed Cars:
      </label>
      <br />
      <textarea id="completed" name="completed" rows="2" cols="30">
      {{completed}}
      </textarea>
      <br/>
      <div class="button">
        <input class="submit" type="submit" value="Submit">
      </div>
      <br/>
    </div>
      

  </div>

</main>
  
</div>


  <div>
   <h2> Job Details </h2>
      Date: {{date}} <br />
      KMs Travelled: {{k_travelled}} <br />
      Service Notes: {{note}}
  </div>
